 @charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root{
    --cor0: #FFBE86;
    --cor1: #A1B5D8;
    --cor2: #004E98;
    --cor3: #984447;
    --cor4: #143109;

    --fontetitulo:'Mooli',cursive;
    --fontedestaque:'Sedgwick Ave Display', cursive;
    --fontepadrao:arial,helvetica,sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}
header{
    color: white;
    background-image: linear-gradient(to bottom, #6b7d9b,#398fe0, #0366c2,#004E98);
    text-align: center;
    margin: auto;
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
header > h1{
    text-align: center;
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.663);
    padding-bottom: 10px;
    font-family: var(--fontetitulo);
}
header > p{
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.663)
}
nav{
    background-color: #004E98;
    padding: 10px;
    text-decoration: none;
}
nav > a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    display: inline;
}
nav > a:hover{
    border: 3px solid rgba(255, 255, 255, 0.838);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
    transition: .3s, border 1s;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor3);
    font-weight: bold;
}
main a{
    background-color: #365c81;
    padding: 2px 6px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
main a:hover{
    text-decoration: underline;
    border: 5px solid rgba(0, 0, 0, 0.826);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
    transition: .3s, border 1s;
}
main h1{
    color: var(--cor4);
    font-family: var(--fontedestaque);
}
main h2{
    color: #c1cee4;
    font-family: var(--fontedestaque);
    font-size: 2em;
    font-weight: bolder;
    background-image: linear-gradient(to right, #003465, rgba(255, 255, 255, 0.53));
    text-align: left;
    text-indent: 10px;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-image: url(estilos/pexels-piccinng-3052361.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section#quemsomos{
    background-color: rgba(255, 255, 255, 0.478);
    box-shadow: 2px 2px 0px black;
    padding: 20px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
div.sessao{
    display: inline-block;
}
div > p{
    font-size: 2em;
    font-weight: bolder;
}
div#jorge{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: url(estilos/perfil-profissional.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
div#israel{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: url(estilos/israel.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
footer#map{
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    background-color: rgb(169, 169, 169);
    margin-bottom: 10px;
}
input{
    height: 50px;
    width: 400px;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--cor4);
    color: yellow;
    font-size: 1.5em;
    box-shadow: 2px 2px 0px black;
}
input:hover{
    background-color: yellow;
    color: var(--cor2);
    font-weight: bolder;
}
iframe{
    display: none;
}
div#container{
    height: 0;
    position: relative;
    padding-top: 20px;
    padding-bottom: 50%;
    background-color: rgb(169, 169, 169);
    display: none;
}
div#container iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
footer#final{
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
}
footer#final a{
    text-decoration: underline;
    color: white;
}
footer#final a:hover{
    background-color: rgb(67, 67, 235);
    color: white;
}