@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root{
    --cor0:var(#4284F7);
    --cor1:var(#E74231);
    --cor2:var(#31AD52);
    --cor3:var(#F7BD02);

    --fontetitulo:'Mooli',cursive;
    --fontedestaque:'Sedgwick Ave Display', cursive;
    --fontepadrao:arial,helvetica,sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--fontepadrao);
}
header{
    background-color: black;
    color: white;
    background-image: linear-gradient(#123a80,#1e63dc,#1f6df2);
    margin: auto;
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
header h1,p{
    text-align: center;
    padding-bottom: 10px;
    font-family: var(--fontetitulo);
}
header a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline;
}
header a:hover{
    background-color: #154597;
}
.aexterno{
    background-image: linear-gradient(to right,#E74231,#31AD52,#F7BD02,#4284F7);
    color: rgba(255, 255, 255, 0.881);
}
section{
    height: 83.8vh;
    padding: 20px;
}
section h2{
    text-indent: 20px;
    font-family: var(--fontetitulo);
}
section#quemsomos{
    background-image: url(pexels-photomix-company-106341.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}
section#a{
    height: auto;
    background-color: #E74231;
}
div.img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
}
div.info{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.401);
    padding: 10px;
}
div#jorge{
    background-image: url(perfil\ profissional.jpg);
    background-position: center center;
    background-size: cover;
}
div#israel{
    background-image: url(Israel.jpg);
    background-position: center center;
    background-size: cover;
}
footer{
    background-color: #31AD52;
}
iframe{
    padding-left: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}